#main {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
}

#title {
    font-size: 3vw;
  color: brown;
}

#img-div {
  position: relative;
  text-align: center;
}

#image {
  position: relative;
  width: 20vw;
  max-width: 20vw;
  height: 20vw;
  max-height: 20vw;
}

#img-caption {
  position: relative;
  display: block;
}

#tribute-info {
}

#link {
}
